* {
    margin: 0;
    padding: 0;
}
body {
    animation: backgroundChange 10s infinite;
    background-size: 400% 400%;
    font-family:'Times New Roman', Times, serif;
}
@keyframes backgroundChange {
    0% {
        background-color: #FFB6C1;
    }
    25% {
        background-color: #FFDEAD;
    }
    50% {
        background-color: #E6E6FA;
    }
    75% {
        background-color: #B0E0E6;
    }
    100% {
        background-color: #FFB6C1;
    }
}

.instructions {
    background: linear-gradient(45deg, darkgreen,lightyellow);
    border-radius: 10px;
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.instructions h2 {
    margin-bottom: 10px;
}
.instructions p {
    margin-bottom: 8px;
} 

#initial-screen {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    height: 100vh;
    background: url('../assets/Background.jpg') no-repeat center center;
    background-size:1470px 800px;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

#initial-screen.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

#initial-screen button {
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    font-size: large;
    background:  linear-gradient(45deg, darkgreen, white);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: none;
}
#initial-screen button:hover {
    transform: scale(0.9);
    background: linear-gradient(45deg, white, darkgreen);
}

#game-screen {
    position: fixed;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 2s ease-out, transform 2s ease-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
}

#game-screen.visible {
    opacity: 1;
    transform: translateX(0);
}

.btn {
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
    align-items: center;
    margin-top: 10;
}

.btn button {
    width: 80px;
    height: 40px;
    font-size: large;
    background:  linear-gradient(45deg, gold, white);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 10px;
    border: none;
}
.btn button:focus {
    outline: none;
}

.btn button:hover {
    transform: scale(0.9);
    background:linear-gradient(45deg, white, gold);
}
.map {
    /* width: 95vw;
    height: 80vh;
    max-width: 900px;
    max-height: 600px; */
    width: 900px;
    height: 600px;
    background: black;
    border: 5px solid black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.8;
}
.map div {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0px 0px 10px gold;
}
.head {
    background: repeating-radial-gradient(#ffc000, #ff4e00);
}
.body {
    background: repeating-radial-gradient(#fff369, #fa791a);
}
.food {
    background: repeating-radial-gradient(#a7fa64, #4f8524);
    animation: foodAni 1.5s linear infinite;
}
@keyframes foodAni {
    0% {
        box-shadow: 0px 0px 10px white;
    }
    50% {
        box-shadow: 0px 0px 80px white;
    }
    100% {
        box-shadow: 0px 0px 10px white;
    }
}

.score {
    font-size: 30px;
    text-align: center;
    position: fixed;
    top: 40px;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, black);
    background-clip: text;
    color: transparent;
}
@media (max-width: 1200px) {
    .btn {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .btn button {
        width: 80px;
        height: 40px;
        font-size: medium;
        margin: 5px;
    }

    .score {
        font-size: 30px;
        text-align: center;
        position: fixed;
        top: 60px;
        width: 100%;
        font-weight: bold;
        background: linear-gradient(to right, rgb(255, 233, 111), black, gold);
        background-clip: text;
        color: transparent;
    }

    .map {
        width: auto;
        height: auto;
        background: black;
        border: 5px solid black;
        position: fixed;
        top: 100px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        margin: auto;
        opacity: 0.8;
    }
}